@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-woodsmoke-50: #fafafa;
  --color-woodsmoke-100: #f4f4f5;
  --color-woodsmoke-200: #e5e5e6;
  --color-woodsmoke-300: #d5d5d7;
  --color-woodsmoke-400: #a3a3a8;
  --color-woodsmoke-500: #737378;
  --color-woodsmoke-600: #545459;
  --color-woodsmoke-700: #404045;
  --color-woodsmoke-800: #282829;
  --color-woodsmoke-900: #1b1b1d;
  --color-woodsmoke-950: #09090b;
}


body {
  margin: 0;
  font-family: 'open sans';
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
